services:
  db:
    image: postgres:18.0
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - ./db-data:/var/lib/postgresql
  api-dev:
    image: oven/bun:canary-alpine
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./:/app
    command: bun run dev
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}
