# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Backend CI (lint, build, type, test check)

on:
  push:
    branches: "**"
  pull_request:
    branches: [main, devlop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Typescript type check
        run: bun run typecheck
      - name: Lint check
        run: bun run lint
      - name: Format check
        run: bun run format
      - name: Run tests with coverage check
        run: bun run test
